<h3>Hello {{ user.first_name }} {{ user.last_name }}</h3>
<p>Your Payment transaction_id : <b>{{transaction_id}}</b></p>
<p>Your Payment status: <b>{{payment_status}}</b></p>
<p>Your purchase request has been successfully completed. Your purchased products are:</p>

<ul>
  {% for product in products %}
    <li>Product Name: <b>{{ product.name }}-</b> Product Price <b>{{product.price}} -</b> Product Size: <b>{{product.size}} -</b> Product Color : <b>{{product.color}} -</b> </b> Quantity:<b>{{ product.quantity }}</b></li>
  {% endfor %}
  <li>Total Price : <b>{{amount}}</b></li>

</ul>
<p>After purchasing these products, your total amount is <b>{{ balance }}</b>.</p>
<p>Thanks for being with us at <b>Cildank</b>.</p>
